<footer style="bottom: 0; height: 10vh; width: 100%; position: fixed; left: 0;">
    <section style="display: flex; justify-content: space-around; align-items: center; background-color: #00674c; color: #ffffff; width: auto; height: 100%; font-size: 32px; flex-shrink: 0; bottom: 0px;">
    <a href="/" style="color: white;">
       <i class="fa fa-home"></i>
    </a>
    <a href="/create_Screen" style="color: white;">
       <i class="fa fa-bullseye"></i>
    </a>
    <a href="/create" style="color: white;">
       <i class="fa fa-plus-circle"></i>
    </a>
     <a href="/user/profile" style="color: white;">
       <i class="fa fa-user-circle"></i>
     </a>
    </section>
 </footer>