<header
    style="display: flex; background-color: #00674c; height: 15vh;justify-content: center; flex-direction: row; flex-shrink: 0; top: 0px;">
    <h2
        style="height: 100%; display: flex;text-align: center; align-items:center;  justify-content: center;color: #ffffff; font-weight: bolder;">
        The Hunt</h2>
    <div style="position: absolute;right: 0px; padding: 32px;">
        <label style="color: white;  cursor: pointer;"><a href="/">Logout</a></label>
        <i class="fas fa-sign-out-alt" style="color: white;  cursor: pointer;"></i>
        </input>

    </div>
</header>
<script>
    var login = function goToLogin() {
        window.location = "/user/Login";
    }
</script>