<header
    style="display: flex; background-color: #00674c; height: 11vh;justify-content: center; flex-direction: row; flex-shrink: 0; top: 0px;">
    <h2
        style="height: 100%; display: flex;text-align: center; align-items:center;  justify-content: center;color: #ffffff; font-weight: bolder;">
        The Hunt</h2>
</header>
<script>
    var login = function goToLogin() {
        window.location = "/user/Login";
    }
</script>