<!doctype html>
<html lang='en'>

<head>
    <%- include('../partials/headerlog'); -%>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Hunt</title>
        <!-- get styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>

<body>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center;color: rgb(10, 10, 10);font-size:50px;font-weight: bolder;"> Team Members</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">
            <img src="https://raw.githubusercontent.com/Krishna-Koyyalamudi/hunt-1/master/images/krishna.jpg" alt="Krishna Koyyalamudi" width="15%" height="25%"> Krishna Sumanth Koyyalamudi</div>
        <div class="col-sm-4" style="text-align: left;color: rgb(39, 6, 58);font-size:25px;font-weight: bolder;">https://www.linkedin.com/in/krishna-s-koyylamudi/</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">
            <img src="https://raw.githubusercontent.com/Krishna-Koyyalamudi/hunt-1/master/images/prudhvi.jpg" alt="Pruthvi Nasakanti" width="15%" height="25%">Pruthvi Naskanti</div>
        <div class="col-sm-4" style="text-align: left;color: rgb(39, 6, 58);font-size:25px;font-weight: bolder;">https://www.linkedin.com/mwlite/in/pruthvi-naskanti-18a19a117</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">
            <img src="https://raw.githubusercontent.com/Krishna-Koyyalamudi/hunt-1/master/images/gd.jpg" alt="Prsad Golla Durga" width="15%" height="25%">Prasad Golla Durga</div>
        <div class="col-sm-4" style="text-align: left;color: rgb(39, 6, 58);font-size:25px;font-weight: bolder;">https://www.linkedin.com/in/g-d-prasad-920b7919a/</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">
            <img src="https://raw.githubusercontent.com/Krishna-Koyyalamudi/hunt-1/master/images/vishal.jpg" alt="Vishal Reddy Vennavaram" width="15%" height="25%">Vishal Reddy Vennavaram</div>
        <div class="col-sm-4" style="text-align: left;color: rgb(39, 6, 58);font-size:25px;font-weight: bolder;">https://www.linkedin.com/in/vishalreddyvennavaram/</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">
            <img src="https://raw.githubusercontent.com/Krishna-Koyyalamudi/hunt-1/master/images/saiKrishna.jpg" alt="Sai Krishna Emmadishetty" width="15%" height="25%">Sai Krishna Emmadishetty</div>
        <div class="col-sm-4" style="text-align: left;color: rgb(39, 6, 58);font-size:25px;font-weight: bolder;">https://www.linkedin.com/in/saikrishna-emmadishetty-613014146/</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</body>

</html>