<!doctype html>
<html lang='en'>

<head>
    <%- include('../partials/headerlog'); -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hunt</title>
    <!-- get styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>

<body>
    <br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: center;color: rgb(10, 10, 10);font-size:50px;font-weight: bolder;"> Team Members</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;"> 
        Krishna Sumanth Koyyalamudi</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">Pruthvi Naskanti</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">
        Prasad Golla Durga</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">Vishal Reddy Vennavaram</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: left;color: rgb(197, 11, 126);font-size:25px;font-weight: bolder;">Sai Krishna Emmadishetty</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
</body>

</html>